In [ ]:
# 1.Add two numbers

In [3]:
num1 = 79
num2 = 45 
sum = num1 + num2
print('The sum of {0} and {1} is {2}'.format(num1,num2,sum))

The sum of 79 and 45 is 124

In [ ]:
# 2. Add  two numbers with user input

In [15]:
num3 = input('enter the first number')
num4 = input('enter the second number')
sum = float(num3) + float(num4)
print(sum)

enter the first number23.56
enter the second number89.7
113.26

In [ ]:
# 2.Subtraction

In [12]:
num1 = 559
num2 = 451 
val = num1 - num2
print('The sub of {0} and {1} is {2}'.format(num1,num2,val))

The sub of 559 and 451 is 108

In [ ]:
#with  user input

In [20]:
print('The sub is %1f' %(float(input('enter first number:')) - float(input('enter second number:'))))

enter first number:43.78
enter second number:21.6
The sub is 22.180000

In [21]:
print('The sub is %1f' %(float(input('enter first number:')) + float(input('enter second number:'))))

enter first number:23.5
enter second number:-3.5
The sub is 20.000000

In [ ]:
# with user input

In [14]:
num1 = input('enter the first number')
num2 = input('enter the second number')
sub = float(num1) - float(num2)
print(sub)

enter the first number456.99
enter the second number342.116
114.87400000000002

In [ ]:
# 3. Multiplication

In [16]:
num1 = 55
num2 = 51 
val = num1 * num2
print('The sub of {0} and {1} is {2}'.format(num1,num2,val))

The sub of 55 and 51 is 2805

In [17]:
num1 = input('enter the first number')
num2 = input('enter the second number')
mul = float(num1) * float(num2)
print(mul)

enter the first number23.89
enter the second number45.87
1095.8343

In [ ]:
# Division

In [18]:
num1 = 55
num2 = 11 
val = num1 / num2
print('The sub of {0} and {1} is {2}'.format(num1,num2,val))

The sub of 55 and 11 is 5.0

In [19]:
num1 = input('enter the first number')
num2 = input('enter the second number')
div = float(num1) / float(num2)
print(div)

enter the first number34.76
enter the second number2.6
13.369230769230768

In [ ]:
# The built-in function month() inside the module takes in the year and the month and displays the calender
for that month of year

In [23]:
import calendar
yy = 1998 #year
mm = 11 #month
print(calendar.month(yy,mm))

   November 1998
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

In [25]:
import calendar
yy = 1997 #year
mm = 1 #month
print(calendar.month(yy,mm))

    January 1997
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30 31

In [27]:
# find the value of pi 
import math

In [28]:
print("The value of pi is",math.pi)

The value of pi is 3.141592653589793

In [29]:
print(math.pi)

3.141592653589793

In [ ]:
# Swap two numbers

In [34]:
x=4
y=9
temp = x
x = y
y = temp   
print("The value of x:",x)
print("The value of y:",y)

The value of x: 9
The value of y: 4

In [35]:
x=input('Enter the first value')

y=input('Enter the second value')
temp = x
x = y
y = temp   
print("The value of x:",x)
print("The value of y:",y)

Enter the first value34
Enter the second value21
The value of x: 21
The value of y: 34

In [ ]:
# Maximum of two number

In [1]:
a = (input('Enter the first number:'))
b = (input('Enter the second number:'))
if (a>b):
    print('a is greater than b',float(format(a,b)))
elif(b>a):
    print('b is greater than a',float(format(b,a)))
else:
    print('both are equal')

Enter the first number:28
Enter the second number:67
b is greater than a 67.0

In [2]:
a = (input('Enter the first number:'))
b = (input('Enter the second number:'))
if (a<b):
    print('a is less than b')
elif(b<a):
    print('b is less than a')
else:
    print('both are equal')

Enter the first number:32
Enter the second number:24
b is less than a

In [7]:
a = 45
b = 67
if (a<b):
    print('a is less than b')
elif(b<a):
    print('b is less than a')
else:
    print('both are equal')

a is less than b